<nav class="footer">
    <ul>
        <li><a href="/"><%= name %></a></li>
        <li><a href="/pastes">Public Pastes</a></li>
        <li><a href="/developer" target="_blank">Developer API</a></li>
        <li class="nav-right"><a href="https://github.com/alechash/git-bin" target="_blank">Open Source</a></li>
    </ul>
</nav>