<nav>
    <ul>
        <li><a href="/" class="nav-title"><%= name %></a></li>
        <li><a href="/pastes">Public Pastes</a></li>
        <li><a href="/developer">Developer API</a></li>
        <li class="nav-right"><a class="signup-button" href="/auth/github">Signup with GitHub</a></li>
    </ul>
</nav>