<label>NOTE: the base url for all API calls is <code class="white">https://gitbin.dev</code></label>
<h1 class="h2 header no-x-margin">Pastes</h1>
<h1 class="h4 header no-x-margin">Creating a Paste</h1>
<code class="white">POST /paste/new</code>


<h1 class="h2 header no-x-margin">Shorts</h1>
<h1 class="h4 header no-x-margin">Creating a Short</h1>