/**
 * Copyright Git Bin Authors 2021 - Present
 * 
 * MIT License
 */
.new-paste {
    max-width: calc(100% - 16px);
    min-width: calc(100% - 16px);
    height: 60vh;
    resize: none;
    margin: 0;
    padding: 8px;
    background-color: rgb(56, 56, 56);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: medium;
}

.paste-box {
    max-width: calc(100% - 16px);
    min-width: calc(100% - 16px);
    resize: none;
    margin: 0;
    padding: 8px;
    background-color: rgb(56, 56, 56);
    border: none;
    color: white;
    height: 60vh;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: medium;
}

.paste-box-header {
    max-width: calc(100% - 16px);
    min-width: calc(100% - 16px);
    height: 25px;
    resize: none;
    margin: 0;
    padding: 8px;
    background-color: rgb(35, 35, 35);
    border: none;
    color: white;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: medium;
    font-family: rocko;
}

.paste-box-header-inner {
    height: 25px;
    vertical-align: middle;
    display: table-cell;
    font-size: medium;
    font-family: rocko;
}

.language-tag {
    padding: 5px;
    margin-left: 10px;
    color: green;
    background-color: rgb(56, 56, 56);
    border-radius: 25px;
    font-size: small;

}

.date-tag {
    padding: 5px;
    margin-left: 10px;
    color: rgb(122, 88, 255);
    background-color: rgb(56, 56, 56);
    border-radius: 25px;
    font-size: small;

}

.public-tag {
    padding: 5px;
    margin-left: 10px;
    color: rgb(0, 255, 162);
    background-color: rgb(56, 56, 56);
    border-radius: 25px;
    font-size: small;

}

.toggle-tag {
    padding: 5px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 56);
    border-radius: 25px;
    font-size: small;

}

.download-tag {
    padding: 5px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 56);
    border-radius: 25px;
    font-size: small;

}

.new-paste-input:focus,
.new-paste-input-select:focus,
.new-paste:focus {
    outline: none;
}

.button {
    background-color: rgb(56, 56, 56);
    color: #f5f5f5;
    border-radius: 5px;
    transition: 0.3s;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}

.button:hover {
    border-radius: 25px;
}

.new-paste-input {
    max-width: calc(100% - 16px);
    min-width: calc(100% - 16px);
    margin: 5px 0;
    padding: 8px;
    background-color: rgb(56, 56, 56);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: medium;
    margin-bottom: 10px;
}

.new-paste-input-select {
    -webkit-appearance: none;

    max-width: calc(100%);
    min-width: calc(100%);
    margin: 5px 0;
    padding: 8px;
    background-color: rgb(56, 56, 56);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: medium;
    margin-bottom: 10px;
}

label {
    color: white;
    font-family: rocko;
}

.loggedin-button {
    padding: 0;
}

.loggedin-pfp {
    max-height: 48.5px;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.loggedin-button-text {
    padding: 14px 16px;
    justify-self: center;
    float: right;
    background-color: #333333;
    color: #f5f5f5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.3s;
}

.loggedin-button-text:hover .loggedin-dropdown {
    display: block;
}

.loggedin-dropdown {
    display: none;
    position: absolute;
    margin-top: 10px;
    right: 10px;
    background-color: #333333;
    border-radius: 5px;
    border-top-right-radius: 0;
    padding: 14px 16px;
}

.def_link {
    appearance: none;
    padding: 0;
}

.hidden {
    display: none;
}

.no-x-margin {
    margin: 15px 0px !important;
}

.pointer {
    cursor: pointer;
}

.bottom-rounded {
    border-bottom-left-radius: 5px;
}

.link {
    color: #fff;
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}

.white {
    color: #fff;
}